__pycache__/
*.pyc
*.egg-info
.ipynb_checkpoints/
.vscode/
*.code-workspace
.venv/
wandb/
/data/
slurm_logs/
/data/
saved_sed_latent_activations/
*.gz
*.blg
*.aux
*.bbl
*latexmk
*.fls
*paper.out
*paper.log
.ruff_cache/
dist/
.env
.env.*
!.env.example
/outputs/
/multirun/

AGENTS.md
CLAUDE.md