__pycache__/
*.pyc
*.egg-info
.ipynb_checkpoints/
.vscode/
*.code-workspace
.pixi/
wandb/
data/
slurm_logs/
trained_saes/
paper/full_paper.log
paper/full_paper.pdf
paper/dbm_paper/dbm_paper.log
paper/dbm_paper/dbm_paper.pdf
*.synctex.gz
*.blg